* {
   margin: 0%;
   padding: 0%;
}

img{
   width: 100%;
   height: 100%;
}

.wholee{
   overflow: hidden;
}

.a {
   background-image: url(./Asset/banner_bg.jpg);
   border-radius: 5px;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   ;
}

.b {
   display: flex;
   background-color: white;
   width: 100%;
   margin: auto;
   padding: 15px  0px;
   justify-content: space-between;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 9999;
   


}

#check,.menuu{
   display: none;
}

.image {
   width: 15%;

}

.hom {
   display: flex;
   gap: 30px;
   justify-content: center;
   /* padding-left: 250px; */
}

.m:hover {
   color: blue;


}


.Paragraph {
   display: flex;

   justify-content: center;
   align-items: center;
   height: 70%;
   text-align: center;
}


.row {
   text-justify: 12px;
   font-size: 18px;


}

.get {
   background-color: rgb(243, 176, 50);
   width: max-content;
   padding: 10px;
   margin: auto;


}

.book {
   display: grid;
   grid-template-columns: 15% 70%;
   border: 2px solid black;
   background-color: black;
   width: 70%;
   margin: auto;
   padding: 15px;
   justify-content: space-between;
}

.date {
   display: grid;
   grid-template-columns: 30% 30% 30%;
   gap: 20px;

}


.NP {
   text-align: center;
   margin-top: 8%;
   /* height: 70%; */

}

.accom {
   display: flex;
   justify-content: space-around;
   /* margin-left: 150px;
   margin-right: 150px; */
   margin-top: 60px;
   position: relative;
}
.hovo{
   position: relative;
}

.absou {

   position: absolute;
   /* top: 0px; */
   bottom: 20px;
   display: flex;
   justify-content: center;
   width: 100%;

}

.royal {
   background-image: url(./Asset/facilites_bg.jpg);
   background-color: #04091e;
   /* height: 180%; */
   padding: 100px 0px;
   margin: 70px 0px;
}

.eco {
   justify-content: center;
   /* margin-top: 60px; */
   /* padding: 8%; */


}

.box {
   display: grid;
   grid-template-columns: 30% 30% 30%;
   gap: 30px;
   justify-content: space-around;
   margin-top: 20px;

}

.bor {
   border: 1px solid black;
   background-color: rgba(184, 183, 183, 0.512);
   border-radius: 10px;
   justify-content: space-evenly;
   padding: 10%;
   gap: 18px;
   font-size: 18px;
   text-align: justify;
   margin-left: 15px;
   margin-right: 15px;



}

.about {
   display: grid;
   grid-template-columns: 45% 45%;
   margin-top: 50px;
   /* gap: 200px; */
   justify-content: space-around;
   padding: 15px;
   /* margin-left: 150px;
   margin-right: 150px; */
   width: 80%;
   margin: auto;
   align-items: center;

}

.trans {
   background-color: black;
   width: max-content;
   color: white;
   padding: 10px;
   margin: 20px 0px;
}

.trans::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: orange;
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.3s ease-in-out;
}

.trans:hover::after {
   transform: scaleX(1);
}

.trans p {
   position: relative;
   z-index: 1;
}



.test {
   background-color: #f8f9fa;
   /* height: 100vh; */
   padding: 100px 0px;
}

.review {
   display: grid;
   grid-template-columns: 40% 40%;
   gap: 2px;
   justify-content: space-around;

margin-top: 40px;
gap: 20px;
}

.phto {
   display: flex;
   /* margin: 15px; */
   border: 2px solid white;
   background-color: white;
padding: 30px;
   text-align: justify;
   gap: 20px;


}

.fanny{
   margin: 10px 0px;
}

.starimg{
   width: 70px;
}
.fanny:hover {
   color: skyblue;

}

.empty {
   border: 2px solid white;
   height: 12PX;
   width: 12px;
   background-color: orange;
   /* display: inline-block; */
   margin: 3px;
}
.emptyflex{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   margin-top: 10px;
}

.three {
   display: flex;
   border: 2px solid white;
   justify-content: space-around;
   /* margin: 80px;
   height: 70vh; */
gap: 20px;
width: 80%;
margin:40px auto;

}

.twobox {
   display: grid;
   grid-template-columns: 30% 30% 30%;


   /* padding: 20px; */
}

.travel {
   border: 1px solid #eeeeee;
   margin: 5px;
   padding: 3px;
   cursor: pointer;
   position: relative;
   background-color: white;

}

.travel::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: orange;
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.3s ease-in-out;
}

.travel:hover::after {
   transform: scaleX(1);
}

.travel p {
   position: relative;
   z-index: 1;
}

.lastpage {
   background-color: black;
   /* height: 80vh; */
   padding: 60px 0px;
}
.footer{
   width: 80%;
   margin: auto;
}
.ani:hover {
   transition: 1s;
   transform: rotate(10deg);
}

.flex {
   display: grid;
   grid-template-columns: 20% 20% 20% 20%;
   padding: 10px 0px; 
   justify-content: space-between;

}
hr{
   margin: 30px 0px;
}

.email {
   display: flex;
   width: 100%;
}

.em {
   background-color: orange;
   width: 40px;
   height: 40px;

}

.imagess {
   display: grid;
   grid-template-columns: 20% 20% 20% 20%;
   gap: 15px;


}


.homee {
   display: flex;
   /* padding: 20px; */
   gap: 20px;
   margin: 20px 0px;
}
.h{
   margin: 10px 0px;
}
.h:hover {
   color: orange;

}

.ani:hover {
   transform: 4s;
   transform: rotate(5deg)
}

.royals:hover {
   transition: 2s;
   transform: scale(1.1);
}







.icon {
   display: flex;
   justify-content: space-between
}

.facebook {
   display: flex;
   justify-content: end;
   /* margin-right: 150px; */
}

.yellow :hover {
   color: orange;
}

/* .trans {
   height: 45px;
   width: 210px;
   background-color: orange;
   transition: width 2s;
   position: absolute;
} */

/* .trans:hover {

   width: 100px;

} */

.absou {
   position: absolute;

}

.absou:hover {
   color: rgb(232, 119, 75);
}